In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
 
df = pd.read_csv('Diabetes.csv')
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [2]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [4]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df.shape

(768, 9)

**Proses Normalisasi**

In [7]:
df['Pregnancies'] = (df['Pregnancies']-df['Pregnancies'].min())/(df['Pregnancies'].max()-df['Pregnancies'].min())
df['Glucose'] = (df['Glucose']-df['Glucose'].min())/(df['Glucose'].max()-df['Glucose'].min())
df['BloodPressure'] = (df['BloodPressure']-df['BloodPressure'].min())/(df['BloodPressure'].max()-df['BloodPressure'].min())
df['SkinThickness'] = (df['SkinThickness']-df['SkinThickness'].min())/(df['SkinThickness'].max()-df['SkinThickness'].min())
df['Insulin'] = (df['Insulin']-df['Insulin'].min())/(df['Insulin'].max()-df['Insulin'].min())
df['BMI'] = (df['BMI']-df['BMI'].min())/(df['BMI'].max()-df['BMI'].min())
df['DiabetesPedigreeFunction'] = (df['DiabetesPedigreeFunction']-df['DiabetesPedigreeFunction'].min())/(df['DiabetesPedigreeFunction'].max()-df['DiabetesPedigreeFunction'].min())
df['Age'] = (df['Age']-df['Age'].min())/(df['Age'].max()-df['Age'].min())
df.head()

   Pregnancies   Glucose  ...       Age  Outcome
0     0.352941  0.743719  ...  0.483333        1
1     0.058824  0.427136  ...  0.166667        0
2     0.470588  0.919598  ...  0.183333        1
3     0.058824  0.447236  ...  0.000000        0
4     0.000000  0.688442  ...  0.200000        1

[5 rows x 9 columns]

**Mengubah nama setiap field**

In [8]:
df = df.rename(columns={'Pregnancies':'P', 'Glucose':'G','BloodPressure':'BP', 'SkinThickness' : 'SK', 'Insulin' : 'I', 'DiabetesPedigreeFunction' : 'DP'})
df.head()

          P         G        BP  ...        DP       Age  Outcome
0  0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1  0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2  0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3  0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4  0.000000  0.688442  0.327869  ...  0.943638  0.200000        1

[5 rows x 9 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   P        768 non-null    float64
 1   G        768 non-null    float64
 2   BP       768 non-null    float64
 3   SK       768 non-null    float64
 4   I        768 non-null    float64
 5   BMI      768 non-null    float64
 6   DP       768 non-null    float64
 7   Age      768 non-null    float64
 8   Outcome  768 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

**Membuat lima dataset baru dengan komposisi objek-objek data pada training set (data latih) dan testing set (data uji**)  :
1.	Baris ke-1 sampai baris ke-614 sebagai training set dan sisanya sebagai testing set;
2.	Baris ke-1 sampai baris ke-461 ditambah baris ke-642 sampai 768 sebagai training set dan yang lain sebagai testing set;
3.	Baris ke-1 sampai baris ke-307 ditambah baris ke-462 sampai 768 sebagai training set dan yang lain sebagai testing set;
4.	Baris ke-1 sampai baris ke-154 ditambah baris ke-308 sampai 768 sebagai training set dan yang lain sebagai testing set; dan
5.	Baris ke-155 sampai sampai 768 sebagai training set dan yang lain sebagai testing set.

Data 1-5

In [10]:
df1_latih = df.iloc[0:614]
df1_uji= df.iloc[614:768]

df2_latih1 = df.iloc[0:461]
df2_latih2 = df.iloc[642:768]
frames = [df2_latih1, df2_latih2]
df2_latih = pd.concat(frames)
df2_uji= df.iloc[461:642]

df3_latih1 = df.iloc[0:307]
df3_latih2 = df.iloc[462:768]
frames1 = [df3_latih1, df3_latih2]
df3_latih = pd.concat(frames1)
df3_uji = df.iloc[307:462]

df4_latih1 = df.iloc[0:154]
df4_latih2 = df.iloc[308:768]
frames2 = [df4_latih1, df4_latih2]
df4_latih = pd.concat(frames2)
df4_uji = df.iloc[154:308]

df5_latih = df.iloc[155:768]
df5_uji = df.iloc[0:155]

In [11]:
def knn(df_latih,df_uji,K,akurasi):
  for i in range(len(df_uji)):

    df_latih_copy = df_latih.copy()
    df_latih_copy

    df_latih_copy['jarak'] = np.sqrt(pow(df_uji.iloc[i,0] - df_latih_copy['P'],2) + pow(df_uji.iloc[i,1] - df_latih_copy['G'],2) + pow(df_uji.iloc[i,2] - df_latih_copy['BP'],2)
    + pow(df_uji.iloc[i,3] - df_latih_copy['SK'],2) + pow(df_uji.iloc[i,4] - df_latih_copy['I'],2) + pow(df_uji.iloc[i,5] - df_latih_copy['BMI'],2)
    + pow(df_uji.iloc[i,6] - df_latih_copy['DP'],2) + pow(df_uji.iloc[i,7] - df_latih_copy['Age'],2))

    df_latih_copy_sort = df_latih_copy.sort_values(by ='jarak')

    hit_1 = 0
    hit_0 = 0
    hit_k = 0

    for j in range(K):

      if (df_latih_copy_sort.iloc[j,8] == 1):
        hit_1 = hit_1 + 1
      else:
        hit_0 = hit_0 + 1
  
    if (hit_0 < hit_1):
      hit_k = 1
    else:
      hit_k = 0
  
    if (hit_k == df_uji.iloc[i,8]):
      akurasi = akurasi + 1
    else:
      akurasi = akurasi + 0
  
  return akurasi,len(df_uji)

**Program Utama**

In [12]:
K = 9

#Data ke 1
data1_akurasi = knn(df1_latih,df1_uji,K,0)[0]
besar_df1 = knn(df1_latih,df1_uji,K,0)[1]
data1_akurasi_r = data1_akurasi / besar_df1
print('K = 1 ') 
print('Akurasi :', data1_akurasi_r*100,'%')
print(' ')

#Data ke 2
data2_akurasi = knn(df2_latih,df2_uji,K,0)[0]
besar_df2 = knn(df2_latih,df2_uji,K,0)[1]
data2_akurasi_r = data2_akurasi / besar_df2 
print('K = 2 ')
print('Akurasi :', data2_akurasi_r*100,'%')
print(' ')

#Data ke 3
data3_akurasi = knn(df3_latih,df3_uji,K,0)[0]
besar_df3 = knn(df3_latih,df3_uji,K,0)[1]
data3_akurasi_r = data3_akurasi / besar_df3
print('K = 3 ') 
print('Akurasi :', data3_akurasi_r*100,'%')
print(' ')

#Data ke 4
data4_akurasi = knn(df4_latih,df4_uji,K,0)[0]
besar_df4 = knn(df4_latih,df4_uji,K,0)[1]
data4_akurasi_r = data4_akurasi / besar_df4 
print('K = 4 ')
print('Akurasi :', data4_akurasi_r*100,'%')
print(' ')

#Data ke 5
data5_akurasi = knn(df5_latih,df5_uji,K,0)[0]
besar_df5 = knn(df5_latih,df5_uji,K,0)[1]
data5_akurasi_r = data5_akurasi / besar_df5
print('K = 5 ')
print('Akurasi :', data5_akurasi_r*100,'%')
print(' ')
hasil = data1_akurasi_r
#Menghitung nilai rata2 akurasi
total_avg_akurasi = (data1_akurasi_r + data2_akurasi_r + data3_akurasi_r + data4_akurasi_r + data5_akurasi_r) / 5

if (data1_akurasi_r>data2_akurasi_r) & (data1_akurasi_r>data3_akurasi_r) & (data1_akurasi_r>data4_akurasi_r) & (data1_akurasi_r>data5_akurasi_r) :
  hasil = data1_akurasi_r
elif (data2_akurasi_r>data1_akurasi_r) & (data2_akurasi_r>data3_akurasi_r) & (data2_akurasi_r>data4_akurasi_r) & (data2_akurasi_r>data5_akurasi_r) :
 hasil = data2_akurasi_r
elif (data3_akurasi_r>data1_akurasi_r) & (data3_akurasi_r>data2_akurasi_r) & (data3_akurasi_r>data4_akurasi_r) & (data3_akurasi_r>data5_akurasi_r) :
 hasil = data3_akurasi_r
elif (data4_akurasi_r>data1_akurasi_r) & (data4_akurasi_r>data2_akurasi_r) & (data4_akurasi_r>data3_akurasi_r) & (data4_akurasi_r>data5_akurasi_r) :
 hasil = data4_akurasi_r
elif (data5_akurasi_r>data1_akurasi_r) & (data5_akurasi_r>data2_akurasi_r) & (data5_akurasi_r>data3_akurasi_r) & (data5_akurasi_r>data4_akurasi_r) :
 hasil = data5_akurasi_r 
print('Akurasi rata-rata : ', total_avg_akurasi*100, '%')
print('Nilai Akurasi terbaik',hasil*100,'%')

K = 1
Akurasi : 74.67532467532467 %

K = 2
Akurasi : 77.90055248618785 %

K = 3
Akurasi : 76.77419354838709 %

K = 4
Akurasi : 72.72727272727273 %

K = 5
Akurasi : 72.90322580645162 %

Akurasi rata-rata :  74.9961138487248 %
Nilai Akurasi terbaik 77.90055248618785 %